hr.divider {
  height: 4px;    
  //  padding: 20px;
  background-color: red;
  border-color: red;
  clear: both;
}    


a#pdf {
  //  color: red; //#FF0000;
}

td, th, tr {
    text-align: center;
}

div.help {
    float: right;
}

tr.manual {
    background-color: lightgrey;
}

input.button {
    background-color: lightgray;
}

input#clearSelection {
    background-color: #ccd9ff;
}

select {
    overflow-y: scroll;
}

input.numerator, input.denominator {
    width: 100px;
}


div$#FeedbackNotes2 {
    border-width:  2px;
    border-color: black;
    border: solid 1pt black;
}

div.FeedbackNotes {
    height: 100px;
    width: 50%;    
}
div#DSIFeedback {
    float: right;
}
div#EpiFeedback {
    float: left;
}

textarea.Note {
    border-width: 2px;
    border-color: black;
    width: 100%;
    height: 80px;
}
