hr.divider {
  height: 4px;    
  //  padding: 20px;
  background-color: red;
  border-color: red;
  clear: both;
}    


a#pdf {
  //  color: red; //#FF0000;
}

td, th, tr {
    text-align: center;
}

div.help {
    float: right;
}

tr.manual {
    background-color: lightgrey;
}

input.button {
    background-color: orange;
}
